# Dominio/host público
DOMAIN=178.104.169.111

# Next.js
NEXT_PUBLIC_API_URL=http://178.104.169.111/api

# Strapi
APP_KEYS=changeMe1,changeMe2,changeMe3,changeMe4
API_TOKEN_SALT=changeMeSalt
ADMIN_JWT_SECRET=changeMeAdminSecret
TRANSFER_TOKEN_SALT=changeMeTransferSalt
JWT_SECRET=changeMeJwtSecret

# PostgreSQL
POSTGRES_DB=abasnet
POSTGRES_USER=abasnet_user
POSTGRES_PASSWORD=changeMeDbPassword
