{% extends 'base.html' %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}
<section class="features text-center mt-5">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-4 feature">
                <h3>Noticias GAB</h3>
                {% for noticia in noticias_generales %}
                <div class="card mb-4 shadow-sm h-100">
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.contenido|truncatewords:20|safe }}</p>
                        <p class="card-text mt-auto"><small class="text-muted">Publicado el {{ noticia.fecha_publicacion|date:"d M Y" }}</small></p>
                        <a href="{% url 'detalle_noticia' noticia.pk %}" class="btn btn-primary mt-auto">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4 feature">
                <h3>Noticias de la Gerencia</h3>
                {% for noticia in noticias_gerencia %}
                <div class="card mb-4 shadow-sm h-100">
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.contenido|truncatewords:20|safe }}</p>
                        <p class="card-text mt-auto"><small class="text-muted">Publicado el {{ noticia.fecha_publicacion|date:"d M Y" }}</small></p>
                        <a href="{% url 'detalle_noticia' noticia.pk %}" class="btn btn-primary mt-auto">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4 feature">
                <h3>Recursos Humanos</h3>
                {% for noticia in noticias_recursos_humanos %}
                <div class="card mb-4 shadow-sm h-100">
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.contenido|truncatewords:20|safe }}</p>
                        <p class="card-text mt-auto"><small class="text-muted">Publicado el {{ noticia.fecha_publicacion|date:"d M Y" }}</small></p>
                        <a href="{% url 'detalle_noticia' noticia.pk %}" class="btn btn-primary mt-auto">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
